/* global css  */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oleo+Script+Swash+Caps&family=Poppins&family=Roboto+Slab:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;
}
.overflow-hidden{
    overflow: hidden;
}
.w-100{
    width: 100%;
}
.border-radius{
    border-radius: 7px;
}
.list-style-none{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
}
.text-white{
    color: white;
}
.text-dark{
    color: black;
}
.text-center{
    text-align: center;
}
.box-shadow{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
body{
    position: relative;
    overflow-x: hidden;
}
.stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: coral;
    font-size: 32px;
    color: transparent;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Oleo Script Swash Caps', cursive;
  }









/* navbar section starts -------------------------------- */
.navbar{
    position: fixed;
    z-index: 1111;
    background: white;
    width: 100%;
    justify-content: space-between;
}
.navbar{
    padding: 25px 90px;
    overflow: hidden;
}
.navbar img{
    width: 150px;
    height: 50px;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(23, 38, 110);
    transition: 0.5s;
}
.navbar ul li{
    margin-right: 30px;
    list-style: none;
    font-size: 20px;
}
.navbar ul li .cart{
    position: relative;
}
.navbar ul li a:hover{
    color: coral;
}
.navbar ul li .circle{
    position: absolute;
    background: red;
    color: white;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 50%;
    right: 0px;
    top: -3px;
}
/* navbar section end  ------------------------------------- */








/* home section starts ------------------------------------------ */
.home{
    width: 100%;
    /* height: 100vh; */
    padding-top: 200px;
    /* background: #000; */
}
.home .left-section,
.home .right-section{
    height: 100%;
    position: relative;
    width: 50%;
}
.home .right-section{
    padding-left: 70px;
}
.home .right-section .h4{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 32px;
    color: rgb(255, 127, 80);
    margin-bottom: 15px;
}
.home .right-section .span{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
}
.home .right-section .p{
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.home .right-section .social-media{
    position: absolute;
    top: 50px;
    right: 30px;
}
.watsapp{
    position: fixed;
    bottom: 50px;
    right: 50px;
}





/* counter css */
.counter-wrapper{
    margin-top: 50px;
}
.counter{
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(255, 127, 80, 0.5);
}
.counter .value,
.plus{
    margin-left: 10px;
    font-size: 32px;
    color: coral;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.counter p{
    margin-top: 8px;
    font-family: 'Caveat', cursive;
    font-size: 22px;
}
/* swiper css  */
.swiper {
    width: 100%;
    height: 100%;
}
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide .lottie {
    display: block;
    width: 100%;
    margin-bottom: 80px;
  }
/* home section end ---------------------------------------------- */










/* filter section starts **********************************  */
.filter{
    margin-top: 150px;
    width: 100%;
    margin-bottom: 100px;
}
.para{
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 22px;
    position: absolute;
    top: 25px;
    background: white;
    padding: 2px 10px;
    border-radius: 8px;
    right: 30px;
    z-index: 111;
    color: rgb(74, 50, 41);
}
.heading{
    font-size: 33px;
    font-weight: bold;
    font-family: 'Caveat', serif;
    margin-bottom: 20px;
    color: coral;
}
.filter img{
    width: 100%;
    cursor: pointer;
    height: 100%;
    transition: 0.6s;
}
.filter img:hover{
    transform: scale(1.2) rotate(-5deg);
}

.filter .box{
    margin: 0;
    padding: 0;
    padding: 10px;
}
.filter .box div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* filter section end **************************************  */








/* about section starts ************************************************ */
.about-section{
    padding-bottom: 80px;
}
.about-section .left-section,
.about-section .right-section{
    width: 50%;
    position: relative;
}
.about-section .left-section .lottie{
    width: 100%;
    height: 100%;
}
.about-section .left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section .right-section h4{
    font-size: 33px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: coral;
}
.about-section .right-section span{
    font-family: 'Caveat', cursive;
    font-size: 22px;
    text-align: justify;
}
.about-section .right-section p{
    color: coral;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 50px;
}

/* about section end ************************************************ */









/* why us section css start  */
.why-us{
    margin-bottom: 80px;
}
.why-us .color {
    display: flex;
    background: #fbd9db;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    min-height: 250px;
    padding: 15px;
    margin-top: 15px;
}
.why-us .color-2 {
    background: #e9f3cb;
}
.why-us .color-3 {
    background: #fbd0e2;
}
.why-us .color-4 {
    background: #e0d7e9;
}
.why-us .color i {
    font-size: 2.5rem;
    padding: 20px;
    border-radius: 50%;
    background: white;
    color: #00aaae;
    margin-bottom: 20px;
}
.why-us .color h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.why-us .color p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
/* why us section css end  */











/* single page css starts  */
.single-page{
    padding-top: 130px;
}
.single-page .right-section,
.single-page .left-section{
    padding-top: 50px;
}
.single-page .box{
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    height: 55vh;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}
.single-page .box img{
    width: 100%;
    height: 100%;
}
.single-page .small-box{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.single-page .small-box img{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.single-page .small-box img.active{
    border: 3px solid coral;
}





.single-page .product-name{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Caveat', cursive;
}
.single-page .star i{
    color: goldenrod;
    margin-right: 4px;
}
.single-page .product-description{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 18px;
    text-align: justify;
}
.single-page .add-to-cart-btn{
    background: coral;
    color: white;
    transition: 0.5s;
    padding: 8px 18px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    border: 1px solid rgb(255, 127, 80);
    border-radius: 25px;
}
.single-page .product-price{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}
.single-page .original-price{
    margin-left: 25px;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Caveat', cursive;
    text-decoration: line-through;
}
.single-page .count{
    height: 42px;
    padding-left: 15px;
    font-weight: bold;
    margin-right: 15px;
    width: 80px;
    border-radius: 8px;
}
.single-page .size{
    width: 180px;
    height: 45px;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
}

/* single page css ends  */













/* featured css start  */
.featured{
    margin-bottom: 50px;
}
.featured .product{
    border-radius: 15px;
    padding-bottom: 30px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 1px 2px rgba(255, 127, 80, 0.5);
}
.featured .img-container{
    width: 100%;
    height: 170px;
}
.featured .img-container img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.featured .product-name{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    margin-top: 20px;
}
.featured .star{
    margin-top: 10px;
}
.featured .star i{
    color: goldenrod;
    margin-right: 2px;
}
.featured .product button{
    position: absolute;
    bottom: 10px;
    right: 15px;
    background: coral;
    color: white;
    transition: 0.5s;
    padding: 4px 8px;
    margin-top: 15px;
    font-weight: bold;
    border: 1px solid coral;
    font-family: 'Caveat', cursive;
    border: 1px solid rgb(255, 127, 80);
    border-radius: 25px;
}
.featured .product button:hover{
    background: white;
    color: coral;
}
.featured .product .product-price{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
}
/* featured css end  */












/* footer css start  */
.footer{
    margin-top: 160px;
}
.footer .logo img{
    margin-bottom: 30px;
}
.footer .logo p{
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.footer .guide{
    padding-left: 50px;
}
.footer .guide a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.footer .head{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
    margin-bottom: 40px;
}
.footer .contact p{
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.footer i{
    color: coral;
}
.footer .join input{
    width: 80%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 35px;
}
.footer .join button{
    padding: 5px 10px;
    cursor: pointer;
    height: 35px;
    background: coral;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}
.footer .join button i{
    color: white;
}
.footer img{
    width: 100%;
    border-radius: 10px;
}
.footer .footer-hr{
    width: 100%;
    margin-bottom: 65px;
    background: coral;
    height: 2px;
}
.footer .footer-hr-2{
    width: 100%;
    background: coral;
    height: 1px;
}
.copy{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.footer .social-media-icons i{
    background: white;
    border: 1px solid coral;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    transition: 1s;
}
.footer .social-media-icons i:hover{
    transform: rotate(-360deg);
}
/* footer css end  */