/* global css  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;
}
.overflow-hidden{
    overflow: hidden;
}
.w-100{
    width: 100%;
}
.btn{
    padding: 15px 25px;
}
.border-radius{
    border-radius: 7px;
}
.list-style-none{
    list-style: none;
}
.text-decoration-none{
    text-decoration: none;
}
.text-white{
    color: white;
}
.text-dark{
    color: black;
}
.text-center{
    text-align: center;
}
.container{
    padding: 50px 120px;
    width: 100%;
}
.box-shadow{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
body{
    position: relative;
}







/* navbar section starts -------------------------------- */
.navbar{
    position: fixed;
    z-index: 11;
    width: 100%;
    justify-content: space-between;
}
.navbar{
    padding: 25px 90px;
    overflow: hidden;
}
.navbar img{
    width: 120px;
    height: 50px;
    cursor: pointer;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(23, 38, 110);
}
.navbar ul li{
    margin-right: 30px;
    list-style: none;
    font-size: 20px;
}
.navbar ul li .cart{
    position: relative;
}
.navbar ul li .circle{
    position: absolute;
    background: red;
    color: white;
    padding: 1px 6px;
    border-radius: 50%;
    right: 0px;
    top: -3px;
}
/* navbar section end  ------------------------------------- */








/* home section starts ------------------------------------------ */
.home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #000;
}


/* swiper css  */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* home section end ---------------------------------------------- */