{% extends "base.html" %} {% block content %}
<div class="d-flex m-auto about-section container row">
  <div class="left-section col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <lottie-player
      class="lottie"
      src="https://assets6.lottiefiles.com/packages/lf20_bzoq9att.json"
      background="transparent"
      speed="0.8"
      style="width: 300px; height: 300px"
      loop
      autoplay
    ></lottie-player>
  </div>
  <div class="right-section col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p>Check The Shop</p>
    <span
      >Lorem ipsum doloito, cepturi, Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Necessitatibus, id! repellendus blanditiis consectetur
      illo deserunt repellat modi? Deleniti officiis quos molestiae et libero
      quidem?</span
    >
    <lottie-player
      class="lottie"
      src="https://assets5.lottiefiles.com/packages/lf20_bS9j3g.json"
      background="transparent"
      speed="1"
      style="width: 75px; height: 75px"
      loop
      autoplay
    ></lottie-player>
    <div class="mt-2 d-flex">
      <a href=""
        ><lottie-player
          class=""
          src="https://assets10.lottiefiles.com/private_files/lf30_P2uXE5.json"
          background="transparent"
          speed="1"
          style="width: 125px; height: 125px"
          autoplay
        ></lottie-player
      ></a>
      <a href=""
        ><lottie-player
          class=""
          src="https://assets4.lottiefiles.com/private_files/lf30_SH76Kz.json"
          background="transparent"
          speed="1"
          style="width: 125px; height: 125px"
          autoplay
        ></lottie-player
      ></a>
    </div>
  </div>
</div>
{% endblock content %}
