{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="about-us container">
    <div class="row mb-5 pb-5">
        <div data-aos="slide-right" class="col-xlg-6 col-lg-6 col-md-12 col-12 left-section">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ljotbiif.json"  background="transparent"  speed="1"  style="width: 90%; height: 90%;"  loop autoplay></lottie-player>
        </div>
        <div data-aos="fade-right" class="px-5 col-xlg-6 col-lg-6 col-md-12 col-12 right-section">
            <h1 class="heading text-center">About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolorum ipsa culpa architecto fugit ad libero aspernatur velit explicabo provident, cupiditate quaerat perspiciatis commodi dolore dolorem similique. Rerum, quas. Cupiditate sint repellendus ipsum velit dolorum blanditiis dolores minima repudiandae nostrum?</p>
            <lottie-player data-aos="fade-right" class="lottie" src="https://assets5.lottiefiles.com/packages/lf20_bS9j3g.json" background="transparent" speed="1" style="width: 75px; height: 75px" loop autoplay ></lottie-player>
            <button>Check Shop</button>
        </div>
    </div>
    {% include "why.html" %}
    <div class="mission-vision pb-5">
        <div class="row">
            <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="px-5 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <lottie-player class="m-auto" src="https://assets3.lottiefiles.com/packages/lf20_ii6qdbgz.json"  background="transparent"  speed="0.8"  style="width: 60%; height: 60%;"  loop autoplay></lottie-player>
                <h3>Mission</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit libero autem excepturi at ab aliquid cumque veniam aspernatur, reiciendis ratione veritatis, sit exercitationem corrupti amet.</p>
            </div>
            <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="px-5 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <lottie-player class="m-auto" src="https://assets7.lottiefiles.com/packages/lf20_1g4xn3se.json"  background="transparent"  speed="0.8"  style="width: 60%; height: 60%;"  loop autoplay></lottie-player>
                <h3>Vision</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, officiis odit? Accusantium, repellendus eum architecto reprehenderit unde at dolore iure sapiente doloribus, aperiam tenetur. Cum!</p>
            </div>
            <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="px-5 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <lottie-player class="m-auto" src="https://assets1.lottiefiles.com/packages/lf20_32u0rjyo.json"  background="transparent"  speed="0.8"  style="width: 60%; height: 60%;"  loop autoplay></lottie-player>
                <h3>Innovation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni beatae obcaecati reprehenderit aliquid tenetur, dicta dignissimos maiores dolorum libero laborum expedita enim dolores, quasi modi!</p>
            </div>
        </div>
    </div>
    {% include "testimonial.html" %}



    <script src="{% static 'js/testimonial.js' %}"></script>
</div>
{% endblock content %}