{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="filter container">
    <h3 class="text-center heading">Choose Your Category</h3>
    <div class="row">
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/food.jpg' %}" alt="">
                <p class="para">Food</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/gadgets.jpg' %}" alt="">
                <p class="para">Electronics</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/phone.jpg' %}" alt="">
                <p class="para">Phone</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/stationary.jpg' %}" alt="">
                <p class="para">Stationary</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/shoe.jpg' %}" alt="">
                <p class="para">Shoe</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/dress.jpg' %}" alt="">
                <p class="para">Dress</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/home tools.jpg' %}" alt="">
                <p class="para">Home Appliences</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/watch.jpg' %}" alt="">
                <p class="para">Watch</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/laptop.jpg' %}" alt="">
                <p class="para">Laptop</p>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-anchor-placement="top-center" class="box mt-3 col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div>
                <img src="{% static 'image/perfume-5.jpg' %}" alt="">
                <p class="para">Perfumes</p>
            </div>
        </div>
        
    </div>
  </div>







  <script src="{% static 'js/filter.js' %}"></script>
{% endblock content %}













<!-- <div class="filter overflow-hidden swiper mySwiper2">
    <h1 class="text-center heading">Choose Your Category</h1>
    <hr>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wagcjbaa.json"  background="transparent"  speed="1"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Smart Phone</p>
        </div>
        <div class="swiper-slide">
       <a href=""> <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_jhlaooj5.json"  background="transparent"  speed="1"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Camera</p>
        </div>
        <div class="swiper-slide">
        <a href=""><lottie-player src="https://assets2.lottiefiles.com/packages/lf20_g1YJeb.json"  background="transparent"  speed="1"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Laptops</p>
        </div>
        <div class="swiper-slide">
        <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cXVf2b.json"  background="transparent"  speed="1"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Fast Food</p>
        </div>
    </div>
  </div> -->
<!-- 
  <div class="w-100 filter">
    <h1 class="text-center heading">Choose Your Category</h1>
    <div class="m-auto d-flex-full">
        <div class="mr-3">
        <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wagcjbaa.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Smart Phone</p>
        </div>
        <div class="mr-3">
            <a href=""> <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_jhlaooj5.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Camera</p> 
        </div>
        <div class="mr-3">
            <a href=""><lottie-player src="https://assets2.lottiefiles.com/packages/lf20_g1YJeb.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Laptops</p>
        </div>
        <div>
            <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_cXVf2b.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Fast Food</p>
        </div>
    </div>
    
    
    
    <div class="m-auto d-flex-full mt-3 pt-2">
        <div class="mr-3">
        <a href=""><lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_gEXLbi.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
        <p class="para">Trending Dress</p>
        </div>
        <div class="mr-3">
            <a href=""> <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_xlawpi2p.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Shoes</p> 
        </div>
        <div class="mr-3">
            <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_afuafsg5.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Home Appliences</p>
        </div>
        <div>
            <a href=""><lottie-player src="https://assets3.lottiefiles.com/packages/lf20_1s5rotap.json"  background="transparent"  speed="0.8"  style="width: 220px; height: 220px;"  loop autoplay></lottie-player></a>
            <p class="para">Sport Items</p>
        </div>
    </div>
  </div> -->
