{% extends "base.html" %}

{% block content %}

<div class="navbar d-flex box-shadow">
    <img src="https://raw.githubusercontent.com/adil-shabab/ecommerce-cara/master/img/logo.png" alt="" class="logo">
    <ul class="d-flex-full">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Enquiry</a></li>
        <li><a class="cart" href=""><div class="circle">0</div><lottie-player src="https://assets6.lottiefiles.com/packages/lf20_xYvGhX.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop autoplay></lottie-player></a></li>
    </ul>
</div>

{% endblock content %}