{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="shop container">
    <div class="row first-row">
        <div class="d-flex-full flex-column col-xlg-6 col-lg-6 col-md-12 col-12 left-section">
            <a href=""><lottie-player src="https://assets7.lottiefiles.com/packages/lf20_afuafsg5.json"  background="transparent"  speed="0.3"  style="width: 96%; height: 96%;"  loop autoplay></lottie-player></a>
        </div>
        <div class="d-flex flex-column col-xlg-6 col-lg-6 col-md-12 col-12 right-section">
            <h3 class="heading">Home Appliences</h3>
            <lottie-player class="lottie" src="https://assets5.lottiefiles.com/packages/lf20_bS9j3g.json" background="transparent" speed="1" style="width: 75px; height: 75px" loop autoplay ></lottie-player>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, aliquid! Quam, nisi eaque suscipit hic aut molestias doloribus! Laboriosam maxime, ullam ipsum omnis harum dolorum? Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            <button class="mt-5 button">Check Shop</button>
        </div>
    </div>
    <div class="row second-row">
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/gas.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Gas Stove</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 2499</span>
                <button>Add to Cart</button>
            </div>
        </div>
        
        
        
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/plate.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Plate</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 99</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/steel-plate.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Steel Plate</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 149</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/bowl.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Bowl</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 199</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/fridge.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Refrigerator</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 18999</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/knife.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Kitchen Knife</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 89</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/sofa.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Sofa</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 24999</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/table.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Table</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 4999</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/jar.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Jar Combo</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 999</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/bottle.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Water Bottle</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 199</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/ac.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Air Conditioner</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 35999</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/fan.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Ceiling Fan</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 899</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/clock.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Clock</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 499</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/alarm-clock.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Alarm Clock</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 399</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/chair.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Chair</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 699</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/tap.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Tap</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 599</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/washing-machine.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Washing Machine</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 15599</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/mixi-1.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Grinder</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 2499</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/house-plant-2.jpg' %}" alt="">
                </div>
                <h3 class="product-name">House Plant</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 499</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/comb.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Comb</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 99</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/cleaner.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Cleaner</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 499</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/soap.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Soap</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 49</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/bulb.jpg' %}" alt="">
                </div>
                <h3 class="product-name">LED Bulb</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 249</span>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="mt-3 col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-12 box p-0 pr-3">
            <div class="product">
                <div class="img-container">
                    <img src="{% static 'image/frame.jpg' %}" alt="">
                </div>
                <h3 class="product-name">Frame</h3>
                <div class="star d-flex mb-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
                <span class="product-price">&#8377; 649</span>
                <button>Add to Cart</button>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}