{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="testimonial-area">
    <div class="container">
      <div class="row">
  
        <div class="col-md-8 offset-md-2">
          <div class="section-heading text-center">
            <!-- <h5 class="heading">Testimonial</h5> -->
            <h2 class="heading">A Word From Our Customers</h2>
            <!-- <p class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p> -->
          </div>
        </div>
  
      </div>
      <div class="testi-wrap">
  
        <div class="client-single active position-1" data-position="position-1">
          <div class="client-img">
            <img src="https://img.freepik.com/free-photo/bohemian-man-with-his-arms-crossed_1368-3542.jpg?size=626&ext=jpg&uid=R76571799&ga=GA1.2.297755401.1654855810" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-2" data-position="position-2">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-3" data-position="position-3">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-4" data-position="position-4">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-5" data-position="position-5">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1518577915332-c2a19f149a75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHdvbWVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-6" data-position="position-6">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
        <div class="client-single inactive position-7" data-position="position-7">
          <div class="client-img">
            <img src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTMxfHxtYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width="40px" alt="">
          </div>
          <div class="client-comment">
            <h3 class="testimonial-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h3>
            <span><i class="fa fa-quote-left"></i></span>
          </div>
        </div>
  
      </div>
    </div>
  </section>
{% endblock content %}