{% extends "base.html" %}
{% block content %}
           <!-- why us section start ************************ -->
            <div class="container why-us">
                <h1 class="heading text-center">Why Us</h1>
                <div class="row m-auto w-100">
                    <div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="color color-3">
                            <i class="fa-solid fa-sack-dollar"></i>
                            <h4>Value for money</h4>
                            <p>The customer gets the best product at the best cost.</p>
                        </div>
                    </div>
                    <div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="color color-2">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <h4>Quality Bags</h4>
                            <p>
                                We are dedicated to make sure that each product has the right quality
                            </p>
                        </div>
                    </div>
                    <div class="col-xlg-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="color color-4">
                            <i class="fa-solid fa-handshake-angle"></i>
                            <h4>SOCIAL ENTERPRISE</h4>
                            <p>The organisation is not just focused on profit only</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- why us section end ************************ -->
{% endblock content %}